<div class="jumbotron">
    <h1 class='display-4'style="color:azure">Tasks</h1>
    <p class="lead" style="color:azure">Node JS, Typescript, Bootstrap 4 and Handlebars</p>
    <a href='/tasks/list' class=' btn btn-primary btn-lg'>List of all tasks created</a>
</div>